.pars-container{
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 42px;
  padding-left: 32px;
  padding-right: 32px;
}
@media only screen and (max-height: 700px) {
  .pars-container{
    padding-top: 18px;
  padding-bottom: 18px;
  }
  
}
