<div class="pars-container flex-reverse m-center">
  <ng-container *ngIf="$serviceList | async as Services">
    <pars-tab
    iconName="all-services" tabName="همه سرویس ها"
    [tabCount]="Services.services.length"
    (click)="tabClicked('')"
    class="active-tab">
  </pars-tab>
    <pars-tab *ngFor="let tabType of Services.types"
    [iconName]="tabType" [tabName]="tabType"
    [tabCount]="tabType | serviceCounter: Services.services"
    (click)="tabClicked(tabType)">
    </pars-tab>
  </ng-container>
</div>
