:root{
  /* Color styles */
--pars-blue---4: rgba(85, 118, 139, 0.699999988079071);
--pars-blue---3: rgba(85, 118, 139, 1);
--pars-blue---2: rgba(132, 174, 205, 1);
--pars-blue---1: rgba(36, 143, 222, 1);
--pars-blue---1-low-ops: rgba(36, 143, 222, 0.029999999329447746);
--pars-white---3: rgba(242, 248, 250, 0.699999988079071);
--pars-white---2: rgba(242, 248, 250, 1);
--pars-white---1: rgba(255, 255, 255, 1);
--pars-green---1: rgba(68, 211, 167, 1);
--pars-yellow---1: rgba(255, 186, 31, 1);
--pars-pink---1: rgba(254, 106, 147, 1);
}
/* .light-mod{

} */

/* .dark-mod{

} */
